<!DOCTYPE html>
<html>
  <head>
    <title>Vue.js in PHP</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div id="app">
      <div class="page-content page-container" id="page-content">
        <div class="padding">
          <div class="row container d-flex justify-content-center">
            <div class="col-md-12">
              <div class="card px-3">
                <div class="card-body">
                  <h1 class="card-title">Shopping list</h4>
                  <div class="add-items d-flex">
                    <input
                      type="text"
                      class="form-control todo-list-input"
                      placeholder="What do you need?"
                      v-model="newItem"
                      @keyup.enter="addItem"
                    />
                    <button
                      class="add btn btn-primary font-weight-bold todo-list-add-btn"
                      @click="addItem"
                    >
                      Add
                    </button>
                  </div>
                  <div class="list-wrapper" :class="{loading: loading}">
                    <ul class="d-flex flex-column-reverse todo-list">
                    <li :class="item.done ? 'completed' : ''" v-for="(item, index) in items" :key="item.id">
                        <div class="form-check">
                            <label @click="toggleDoneItem(item)" class="form-check-label">
                                <input class="checkbox" type="checkbox" :checked="item.done ? true : false" /> 
                                <i class="input-helper"></i
                              >
                            </label>
                              <span class="item-name" v-if="!item.isEditing">{{ item.name }}</span>
                              <input @keyup.enter="saveItem(item)" v-else v-model="item.name" type="text">
                              <i v-if="!item.isEditing" @click="editItem(item)" class="fas fa-edit fa-xs"></i>
                              <button v-if="item.isEditing" @click="saveItem(item)" class="save-btn">Save</button>
                    </div>
                    <i @click="deleteItem(item.id)" class="remove mdi mdi-close-circle-outline"></i>
                    </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3.2.22"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
